body {
    font-family: verdana;
    font-size: 100%;
    color: rgb(0, 0, 0);
}

a {
    color: inherit;
}

figure {
    margin: auto;
}

img {
    width: 250px;
    height: 100%;
    margin: center;
}

form {
    margin:auto;
    width: 300px;
    padding: 20px;
    border-radius: 5px;
    background: rgb(157, 157, 157);
    margin-top: 100px;
    text-align: center;
}

.campo {
    width: 200px;
    height: 30px;
    border-radius: 3px;
    margin-top: 5px;
}

a {
    color: #fff;
}

.btn {
    width: 100px;
    height: 30px;
    border: 1px solid gray;
}

td, tr {
    background-color: rgb(196, 196, 196);
    text-align: center;
    font-size: 18pt;
}