@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed&family=Chelsea+Market&family=IBM+Plex+Sans:wght@600&family=Koulen&family=League+Gothic&family=Neucha&family=New+Rocker&family=Roboto:wght@300;400&family=Secular+One&family=UnifrakturCook&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
}
.header-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: black;
    color: orangered;
    font-family: league gothic;
    font-size: 25pt;
    font-weight: 100;
    align-items: center;
    padding: 2%;
}
.img-logo {
    width: 25vw;
}
.figcaption-logo {
    width: 25vw;
    text-align: center;
}
.div-logo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.nav-menu {
    width: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4vh;
}
.button-for-nav-menu {
    background-color: orange;
    font-family: league gothic;
    font-size: 15pt;
    font-weight: 100;
    border: none;
    border-radius: 5px;
}
.footer-content {
    background-color: black;
    color: white;
    text-align: center;
}
.footer-content > span > a {
    color: orangered;
    text-decoration: none;
}
.main-content{
    height: 100%;
    padding: 2%;
}
.table-content{
    display: flex;
    justify-content: center;
    font-family: league gothic;
    font-size: 15pt;
    font-weight: 100;
}

.table-content > tr,th,td {
    border: 0.5pt black solid;
    width: 100vw;
    text-align: center;
}