* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
}

main {
    width: 100%;
}

header {
    color: orangered;
    display: flex;
    font-family: Koulen;
    font-size: 25pt;
    padding: 10px;
    background-color: rgb(255, 212, 104);
    width: 10vw;
    height: 100vh;
    justify-content: flex-start;
    text-align: center;
    flex-wrap: wrap;
    flex-direction: column;
}

header > #menu > div > {
    background-color: gray;
}

header > #menu > div > img {
    height: 10vh;
    cursor: pointer;
    margin: 5px 0px 5px 0px;
}

header > #menu > div > img:hover {
    height: 12vh;
}

figure {
    height: 150px;
    cursor: pointer;
}

img {
    height: 15vh;
    margin-bottom: -30px;

}

img:hover {
    height: 18vh;
    margin-bottom: -30px;
}

.boxMain{
    background-color: rgb(255, 212, 104);
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    align-items: center;
    gap: 20px;
  }

  .boxMain > .boxItem > img {
      height: 4vw;
  }

  .boxItem {
    width: 5vw;
    height: 5vw;
    background-color:rgb(242, 173, 0);
    border-radius: 8px;
    cursor: pointer;
  }

  .boxItem:hover {
    width: 5vw;
    height: 5vw;
    background-color:rgb(255, 212, 104);
    border-radius: 8px;
  }