
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header_menu{
    background-color: rgb(0, 0, 0);
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    padding: 20px;    
    gap: 15px;
}

.button_header{
    background-color: rgb(255, 179, 0);
    padding: 5px;
    margin: 10px;
    min-width: 75px;
    border: none;
    height: 8%;
    border-radius: 10px;
    box-shadow: 3px 3px 3px;
    font-size: 12pt;
    transition: 0.3s;
    cursor: pointer;
}

.button_header:hover{
    background-color: rgb(255, 125, 4);
    transform: scale(1.1);
    transition: 0.3s;
}

.section_content{
    margin: auto;
    background-color: orange;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.section_database{
    margin: 20px auto 20px auto;
    background-color: rgb(255, 194, 81);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.h2_title_new_cad{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15pt;
    text-align: center;
}

.form_add_new{
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.inputs{
    height: 35px;
    width: 85%;
    padding: 2px;
}

.inputs_larger {
    height: 90px;
    width: 85%;
    padding: 2px;
    display: flex;
    justify-content: flex-start;
}

.labels{
    font-size: 15pt;
    margin-top: 10px;
}

.button_submit{
    margin-top: 10px;
    background-color: rgb(56, 111, 0);
    color: white;
    padding: 5px;
    margin: 10px;
    min-width: 75px;
    border: none;
    height: 8%;
    border-radius: 10px;
    font-size: 18pt;
    transition: 0.3s;
    cursor: pointer;
}

.button_submit:hover{
    background-color: rgb(68, 169, 0);
    transform: scale(1.1);
    transition: 0.3s;
}

.table_database{
    width: 75%;
    text-align: left;
}

.td_inputs {
    padding: 10px 10px 10px 0; 
}


@media (min-width: 700px) {
    .inputs {
        width: 50%;
    }

    .inputs_larger {
        height: 90px;
        width: 50%;
        padding: 2px;
    }
}