* {
    margin: 0;
    padding: 0;

}

body {
    background-color: gray;
}

section {
    padding: 25px;
    margin-top: 0px;
    background-color: black;
}

form {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15pt;
    padding: 25px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: gray;
    width: 50%;
    height: 50%;
}

.descricao {
    width: 75%;
}

input, select {
    height: 30px;

}

.material {
    width: 80%;
}

.qtd, .custo {
    width: 10%;
    display: inline-block;
}

img {
    margin-top: 40px;
    width: 5%;
}

a {
    color: inherit;
}