* {
    margin: 0;
    padding: 0;
    
}

body {
    margin-top: 10px;
    margin-left: 10px;
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background-color: black;
    padding: 0px;
    display: inline-block;
    width: 100%;
        
}

.cadastro {
    padding: 10px;
    background-color: rgb(209, 209, 209);
    margin-top: 20px;
}

p {
    font-size: 15pt;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

form, table {
    padding: 10px;
    background-color: rgb(154, 154, 154);
    font-size: 15pt;  
 
}

fieldset, table {
    margin: 20px;
}

.titulolegenda {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25pt;

}
legend {
    margin: 10px;
}

label {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

input {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 0px;
    width: 250px;
    height: 20px;

}

table {
    width: 1200px;
}

a {
    color: inherit;
    display: inline-block;
}

.novocad {
    width: 15%;
}

td, tr {
    background-color: rgb(196, 196, 196);
    text-align: center;
    font-size: 18pt;
}